/* Global resets */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: "rooney-sans", Avenir-Book, Calibri, sans-serif;
	color: #424242;
	line-height: 1.4;
}

/* Fonts */
h1 {
	font-family: "rooney-web", "AmericanTypewriter", Rockwell, serif;
	font-size: 2.5em;
	font-weight: bold;
}

.container {
	margin: 2em auto;
	max-width: 630px;
	text-align: center;
}

/* The following font information and color codes are provided for you.  They do not match the prototype exactly, but they are fine to use for the assignment and doing so does not count against you.  They are simply meant to help you save time.  We would like everyone to have as close to a pixel-perfect match to the prototype as possible.  If you do find a font/color that matches more precisely, please share it with the team so we can improve the activity for future applicants.  Thank you!  Happy coding!

	FONTS:
	font-family: "rooney-sans", Avenir-Book, Calibri, sans-serif;
	font-family: "rooney-web", "AmericanTypewriter", Rockwell, serif;

  COLORS:
  blue: #20A1D4;
  green: #1CBC2C;
  orange: #EF5F3C;
  black: #424242;
  grey: #777;
  light grey: #eaeaea;
*/

/* Your CSS code goes here */

.prototypeHolder {
	/*Match size of original prototype - I am not sure what is desired behavior in larger or smaller views, so I'm sticking with the original size of the photo of the prototype
	I am also making the assumption that flex behavior is not required -*/
	width: 303px;
	border-style: dashed;
	padding: 1.2em;
	margin: auto; /*allows the content to be centered as in the prototype*/
}

/*To understand how a speech bubble (or box in this case) worked, I had to refer to several sources and learn about CSS in general.
    2 key resources that I used to learn how to do this are below, my code is directly based on their work:
    - http://nicolasgallagher.com/pure-css-speech-bubbles/demo/default.css
    - https://leaverou.github.io/bubbly/
    Also helpful: https://css-tricks.com/snippets/css/css-triangle/
*/
.speechBox {
	position: relative;
	padding: .9em;
	color: white;
	font-size: .9em;
	background: #424242;
	border-radius: 3px;
	/*-webkit-border-radius:5px;*/
	/*-moz-border-radius:10px;*/
	margin: 1em 0 1em;
	/*Without a margin (outer padding) you can't see the triangle)*/
}

.speechBox span{
	font-weight: bold;
}

.speechBox:after{
	/*Learned: you can make a triangle in CSS by defining what sides are transparent and which aren't. */
	content: ""; /*If this isn't here, the triangle will disappear*/
	position: absolute;
	width: 0;
	height: 0;
	bottom: -6px; /*From above sources: value = - border-top-width - border-bottom-width */
	border-width: 7px 5px 0; /* Learned: vary these values to change the angle of the vertex.  Top, bottom, R, L */
	border-style: solid; /*Because the border makes the triangle, we need to see it :)*/
	right: 12%;
	border-color: #424242 transparent;
}

.progress {
	position: relative;
	height: .7em;
	background-color: #f6f6f6;
	border: thin solid #eaeaea;
	border-bottom: none;
}

.progress span {
	display: block;
	height: 100%;
	background-color: #EF5F3C;
	color: #EF5F3C;
}

.fundBox {
	color: #777;
	border: thin solid #eaeaea;
	padding: 20px;
	font-size: .8em; /*this looks about right, but it's hard to tell with the different font.  Ruler shows approx the same*/
}

.fundBox span {
	color: #EF5F3C;
	font-weight: bold;
	font-family: "rooney-web", "AmericanTypewriter", Rockwell, serif; /*This font seems off*/
}

.fundBox p {
	/*padding: .5em;*/
	padding-bottom: 10px;
	text-align: left;
}

.fundBox a {
	color: #20A1D4;
	text-align: left;
	font-style: italic;
	text-decoration: none;
}

.fundBox form {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.fundBox input{
	width:47%;
	height: 45px;
}

input[type=number]{
	padding-left: 15px;
    border-radius: 3px;
    border: solid thin #eaeaea;
}


/*.money::before {*/
    /*content: "$";*/
    /*padding: 0 5px;*/
    /*text-align: center;*/
/*}*/

input[type=submit]{
	background-color: #1CBC2C;
	font-family: "rooney-sans", Avenir-Book, Calibri, sans-serif;
	color: white;
	border: solid;
	border-radius: 3px; /*Rounded edges*/
	padding: .5em; /*Choose em for scalability (relation to current font size.  Later switched to px for better pixel perfect  */
}

.social {
    margin-top: 10px;
	display: flex;
	flex-directon: row;
	justify-content: space-between;
}

.social button {
	width: 45%;
    background-color: #f6f6f6;
    border-radius: 3px;
    border: solid thin #eaeaea;
    color: dimgrey;
    font-family: "rooney-sans", Avenir-Book, Calibri, sans-serif;
    font-weight: 550;
    padding: 10px;
}