/* Global resets */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: "rooney-sans", Avenir-Book, Calibri, sans-serif;
	color: #424242;
	line-height: 1.4;
}

/* Fonts */
h1 {
	font-family: "rooney-web", "AmericanTypewriter", Rockwell, serif;
	font-size: 2.5em;
	font-weight: bold;
}

.container {
	margin: 2em auto;
	max-width: 630px;
	text-align: center;
}

/* The following font information and color codes are provided for you.  They do not match the prototype exactly, but they are fine to use for the assignment and doing so does not count against you.  They are simply meant to help you save time.  We would like everyone to have as close to a pixel-perfect match to the prototype as possible.  If you do find a font/color that matches more precisely, please share it with the team so we can improve the activity for future applicants.  Thank you!  Happy coding!

	FONTS:
	font-family: "rooney-sans", Avenir-Book, Calibri, sans-serif;
	font-family: "rooney-web", "AmericanTypewriter", Rockwell, serif;

  COLORS:
  blue: #20A1D4;
  green: #1CBC2C;
  orange: #EF5F3C;
  black: #424242;
  grey: #777;
  light grey: #eaeaea;
*/

/* Your CSS code goes here */

.prototypeHolder {
	/*Match size of original prototype - I am not sure what is desired behavior in larger or smaller views, so I'm sticking with the original size of the photo of the prototype
	I am also making the assumption that flex behavior is not required -*/
	width: 303px;
	padding: 1.2em;
	margin: auto; /*allows the content to be centered as in the prototype*/
}

/*To understand how a speech bubble (or box in this case) worked, I had to refer to several sources and learn about CSS in general.
    2 key resources that I used to learn how to do this are below, my code is directly based on their work:
    - http://nicolasgallagher.com/pure-css-speech-bubbles/demo/default.css
    - https://leaverou.github.io/bubbly/
    Also helpful: https://css-tricks.com/snippets/css/css-triangle/
*/
.speechBox {
	position: relative;
	margin: 1em 0 1em;
	background: #424242;
	border-radius: 3px;
	color: white;
	font-size: .9em;
	/*Note: without a margin (outer padding) you can't see the triangle)*/
	padding: .9em;
}

.speechBox span{
	font-weight: bold;
}

.speechBox:after{
	/*Learned: you can make a triangle in CSS by defining what sides are transparent and which aren't. */
	content: ""; /*If this isn't here, the triangle will disappear*/
	position: absolute;
	width: 0;
	height: 0;
	bottom: -6px; /*From above sources: value = - border-top-width - border-bottom-width */
	border-color: #424242 transparent;
	border-width: 7px 5px 0; /* Learned: vary these values to change the angle of the vertex.  Top, bottom, R, L */
	border-style: solid; /*Because the border makes the triangle, we need to see it :)*/
	right: 12%;
}

.progress {
	position: relative;
	height: .7em;
	background-color: #f6f6f6;
	border: thin solid #eaeaea;
	border-bottom: none;
	box-shadow: 0px 1px #eaeaea inset; /*box-shadow: horizontal offset, vertical offset, optional blur, color*/
}

.progress span {
	position: relative;
	height: 100%;
	display: block;
	background-color: #EF5F3C;
	box-shadow: 0px 1px #ff8c3a inset;
}

.fundBox {
	position: relative;
	border: thin solid #eaeaea;
	box-shadow: 0px 1px #f6f6f6;
	color: #777;
	font-size: .8em; /*this looks about right, but it's hard to tell with the different font.  Ruler shows approx the same*/
	padding: 20px 20px 5px 20px;
}

.fundBox span {
	color: #EF5F3C;
	font-family: "rooney-web", "AmericanTypewriter", Rockwell, serif;
	font-weight: bold;
}

.fundBox p {
	padding-bottom: 10px;
	padding-right: 5px;
	text-align: left;
}

.fundBox a {
	color: #20A1D4;
	font-style: italic;
	text-align: left;
	text-decoration: none;
}

.fundBox form {
	display: flex;
	justify-content: space-between;
}

.fundBox input{
	width:47%;
	height: 45px;
	box-sizing: border-box;
}

.currency {
	width: 47%;
	border: 1px solid #eaeaea;
	border-radius: 3px;
	box-shadow: 0px 1px #f6f6f6 inset;
	font-family: "rooney-web", "AmericanTypewriter", Rockwell, serif;
	font-size: 1.2em;
	font-weight: bold;
	padding-left: .5em;
	text-align: left;
}

.why {
	margin-top: 4px;
	padding-bottom: 0;
}

.currency input {
	border: 0;
	box-shadow: 0px 1px #f6f6f6 inset;
	padding-left: .5em;
	font-size: .9em;
	font-weight: bold;
}

input[type=submit]{
	margin-top: 1px;
	background-color: #1CBC2C;
	border:none;
	border-radius: 2px;
	box-shadow: 1px 1px #19a827;
	color: white;
	font-family: "rooney-sans", Avenir-Book, Calibri, sans-serif;
	font-size: 1.2em;
	padding: .5em; /*Choose em for scalability (relation to current font size.  Later switched to px for better pixel perfect  */
}

.social {
	display: flex;
	justify-content: space-between;
	margin-top: 10px;
}

.social button {
	width: 45%;
    background-color: #f6f6f6;
    border-radius: 3px;
    border: solid thin #eaeaea;
	box-shadow: 0px 1px #eaeaea;
	color: dimgrey;
    font-family: "rooney-sans", Avenir-Book, Calibri, sans-serif;
    font-weight: 550;
    padding: 10px;
}